<%- include("partials/header") -%>

<div class="container w-50 form-container quiz-modifier">
    <form action="/quiz-modifier" method="POST">
        <div class="form-group">
            <label for="number">Number of  Questions</label>
            <select name="number" class="form-control">
                <option value="5">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>
        <div class="form-group">
            <label for="difficulty">Set Difficulty</label>
            <select name="difficulty">
                <option value="easy">Medium</option>
                <option value="medium">Hard</option>
                <option value="hard">Overkill</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Make Quiz!</button>
    </form>
</div>


<%- include("partials/footer")  -%>