body{
    padding: 0;
    margin: 0;
}

.option-buttons{
    margin: 0.4rem 2rem;
}

form p{
    color: #fff;
    padding-top: 1rem;
    margin: 1rem 2rem;
    font-family: montserrat, sans-serif;
}

form .submit-button{
    margin: 1.3rem 2rem;
}

.form-container{
    background-color: rgb(36, 36, 36);
    color: #fff;
    margin-top: 2rem;
}

.quiz-modifier{
    padding: 1rem;
}